{% extends 'template/jhTemplateV3.html'%}

{% block vue_template %}

<jh-layout-v3>

  <!-- 页面主要内容 -->
    <v-card :class="{'px-2': isMobile}">
      <v-row class="ma-0 align-center flex-none pt-0 " :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">

        <v-col cols="12" xs="12" sm="4" md="4" xl="4" class="pl-0">
          <v-btn color="success" dark class="elevation-0 mr-2" @click="doUiAction('startCreateItem', null)">新增
          </v-btn>
          <span class="body-2">共{{ tableData.length }}条记录</span>
        </v-col>

        <v-spacer></v-spacer>

        <v-col cols="12" xs="8" sm="4" md="3" xl="3" class="px-0" >
          <v-text-field v-model="searchInput" color="success" prefix="表格过滤：" class="cus-v-input" dense filled single-line></v-text-field>
        </v-col>

      </v-row>
      <v-data-table fixed-header
                    :headers="headers"
                    :items="tableData"
                    :search="searchInput"
                    :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
                    :items-per-page="20"
                    :loading="isTableLoading"
                    checkbox-color="success"
                    mobile-breakpoint="0"
                    :class="{'mx-2': isMobile}"
                    class="elevation-0 mt-0 flex-fill d-flex flex-column">
        <template v-slot:item.downloadPath="{ item }">
          <a href="javascript:;" @click="doUiAction('downloadFileByStream', {item})">{{item.downloadPath}}</a>
        </template>
        <template v-slot:item.action="{ item }">
          <v-btn small class="mr-2 success" @click="doUiAction('startUpdateItem', {item})">
            修改
          </v-btn>
          <v-btn small class="mr-2 error" @click="doUiAction('deleteItem', {item})">
            删除
          </v-btn>
        </template>
      </v-data-table>
    </v-card>

<v-overlay app :value="isEditDrawerShow"></v-overlay>
  <!-- 编辑抽屉 -->
  <v-navigation-drawer v-model="isEditDrawerShow" fixed temporary right width="80%" hide-overlay class="elevation-24">
    <v-form v-model="isFormValid" ref="form" lazy-validation>
      <v-row class="pt-8">
        <span class="title pa-6" :class="{'pl-12': !isMobile, 'pl-6': isMobile}">{{ currentClickButton.title }}文件</span>
        <v-spacer></v-spacer>
        <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small @click="isEditDrawerShow = false">
          <v-icon dark>mdi-close</v-icon>
        </v-btn>
      </v-row>
      <v-row :class="{'px-10': !isMobile, 'px-3': isMobile, 'pb-7': isMobile}" v-if="isEditDrawerShow">
        <template v-if="currentClickButton.action === 'add'">
          <v-col cols="12" sm="12" md="6" xl="6" :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}">
            <span class="inputLabel">请选择文件</span>
            <v-file-input v-model="inputFile" class="cus-v-input mr-2" dense filled single-line chips label="请选择文件" ></v-file-input>
          </v-col>
          <v-col cols="12" sm="12" md="12" xl="12" :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}">
            <span class="inputLabel">文件描述</span>
            <v-textarea class="cus-v-input mr-2" dense filled single-line label="文件描述" v-model="editItem.fileDesc" :rules="requireRules"></v-textarea>
          </v-col>
        </template>
        <template  v-if="currentClickButton.action === 'edit'">
          <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}">
            <span class="inputLabel">文件ID</span>
            <v-text-field class="cus-v-input mr-2" dense filled single-line label="文件ID" v-model="editItem.fileId" disabled></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}">
            <span class="inputLabel">文件存储位置</span>
            <v-text-field class="cus-v-input mr-2" dense filled single-line label="文件存储位置" v-model="editItem.fileDirectory" disabled></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}">
            <span class="inputLabel">文件名</span>
            <v-text-field class="cus-v-input mr-2" dense filled single-line label="文件名" v-model="editItem.filename" disabled></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}">
          <span class="inputLabel">文件保存名</span>
            <v-text-field class="cus-v-input mr-2" dense filled single-line label="文件保存名" v-model="editItem.filenameStorage" disabled></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}">
          <span class="inputLabel">文件下载路径</span>
            <v-text-field class="cus-v-input mr-2" dense filled single-line label="文件下载路径" v-model="editItem.downloadPath" disabled></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}">
          <span class="inputLabel">文件大小</span>
            <v-text-field class="cus-v-input mr-2" dense filled single-line label="文件大小" v-model="editItem.binarySize" disabled></v-text-field>
          </v-col>
          <v-col cols="12" sm="12" md="12" xl="12" :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}">
            <span class="inputLabel">文件描述</span>
            <v-textarea class="cus-v-input mr-2" dense filled single-line label="文件描述" v-model="editItem.fileDesc" :rules="requireRules"></v-textarea>
          </v-col>
        </template>
      </v-row>
      <v-row class="justify-end mx-0 mt-8" :class="{'px-10': !isMobile, 'px-3': isMobile, 'mb-8': isMobile}">
        <v-btn color="success" @click="doUiAction(dialogSaveInfoAction)">保存</v-btn>
        <v-btn class="elevation-0 mr-2 ml-2" @click="isEditDrawerShow = false">取消</v-btn>
      </v-row>
    </v-form>
  </v-navigation-drawer>

</jh-layout-v3>

{% endblock %}

{% block vue_body %}

<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    mixins: [window.jianghuUiActionMixins],
    data: {
      // 表格相关数据
      isFormValid: true,
      requireRules: [ v => !!v || 'This is required' ],
      isEditDrawerShow: false,
      searchInput: null,
      isTableLoading: true,
      tableDataFromBackend: [],
      headers: [
        {text: "文件ID", value: "fileId", width: 120, required: true, class: 'fixed', cellClass: 'fixed'},
        {text: "文件存储位置", value: "fileDirectory", width: 120, required: true},
        {text: "文件名", value: "filename", width: 120},
        {text: "文件保存名", value: "filenameStorage", width: 120},
        {text: "文件下载路径", value: "downloadPath", width: 650},
        {text: "文件大小", value: "binarySize", width: 120},
        {text: "文件描述", value: "fileDesc", width: 120},
        {text: "操作人", value: "operationByUser", width: 120},
        {text: "操作时间", value: "operationAt", width: 250},
        {text: '操作', value: 'action', align: 'center', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed'}
      ],

      currentClickButton: {title: '新增', action: 'add'},
      editItem: {},
      inputFile: null,
      downloadPrefix: `${window.location.origin}/<$ ctx.app.config.appId $>/upload`,
      dialogSaveInfoAction: ''
    },
    computed: {
      isMobile() {
        return window.innerWidth < 600;
      },
      tableData() {
        return this.tableDataFromBackend;
      },
    },
    watch: {},
    async created() {
    },
    mounted() {
      this.doUiAction('refreshTableData');
    },
    methods: {
      /**
       * 获取表格数据
       */
      async refreshTableData() {
        this.isTableLoading = true;
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'fileManagement',
              actionId: 'selectItemList',
              orderBy: [{column: 'operationAt', order: 'desc'}]
            }
          }
        });

        this.tableDataFromBackend = result.data.appData.resultData.rows;
        this.isTableLoading = false;
      },

      // startCreateItem
      async clearItemData() {
        this.editItem = {};
      },

      async openCreateItemDialog() {
        this.currentClickButton = {action: 'add', title: '新增'};
        this.isEditDrawerShow = true;
        this.dialogSaveInfoAction = 'createItem';
      },

      // createItem
      async prepareValidate() {
        if (!this.$refs.form.validate()) return false;
      },

      // createItem
      async confirmCreateItemDialog() {
        return window.confirmDialog({title: '新增', content: '确定新增吗？'})
      },

      /**
       * 新增数据
       */
      async doCreateItem() {
        await window.vtoast.loading("保存中");
        const fileDesc = this.editItem.fileDesc;
        const that = this;
        const file = this.inputFile
        window.vtoast.loading(`${file.name} 上传进度: 0.00%`);
          await window.jianghuAxios.httpUploadByStream({
            fileDesc,
            file,
            fileDirectory: 'testFile',
            onProgress: (total, loaded) => {
              const progress = Number((loaded * 100 / total).toFixed(2));
              window.vtoast.loading(`${file.name} 上传进度: ${progress}%`);
              if (loaded === total) {
                window.vtoast.success(`${file.name} 上传进度: 100%`);
              }
            }
          })
      },

      // startUpdateItem
      async prepareItemData({item}) {
        this.editItem = {...item};
      },

      async openUpdateItemDialog() {
        this.currentClickButton = {action: 'edit', title: '修改'};
        this.isEditDrawerShow = true;
        this.dialogSaveInfoAction = 'updateItem';
      },

      // updateItem
      async confirmUpdateItemDialog() {
        return window.confirmDialog({title: '修改', content: '确定修改吗？'});
      },

      /**
       * 保存学生
       */
      async doUpdateItem() {
        await window.vtoast.loading("保存中");
        const id = this.editItem.id;
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'fileManagement',
              actionId: 'updateItem',
              actionData: {fileDesc: this.editItem.fileDesc},
              where: {id}
            }
          }
        })
        await window.vtoast.success("修改成功");
      },
      async closeDrawerShow() {
        this.inputFile = null
        this.isEditDrawerShow = false;
      },

      // deleteItem
      async confirmDeleteItemDialog() {
        return window.confirmDialog({title: '删除', content: '确定删除吗？'});
      },

      /**
       * 删除数据
       */
      // TODO::只是删除了 _file表中的数据，并没有删除文件
      async doDeleteItem() {
        window.vtoast.loading('正在删除')
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'fileManagement',
              actionId: 'deleteItem',
              where: {fileId: this.editItem.fileId}
            }
          }
        });
        window.vtoast.success('删除成功')
      },

      
      /**
       * 文件stream下载
       */
      // TODO::下载未成功时无错误响应
      async downloadFileByStream({ item }) {
        const downloadPath = item.downloadPath
        const filename = item.filename
        window.vtoast.loading(`${filename} 下载进度: 0%`);
        const buffer = await window.jianghuAxios.httpDownloadByStream({
          downloadPath,
          filename,
          onProgress: (total, loaded) => {
            const progress = Number((loaded * 100 / total).toFixed(2));
            window.vtoast.loading(`${filename} 下载进度: ${progress}%`);
            if (total === loaded) {
              window.vtoast.success("下载完成");
            }
          }
        })
        window.jianghuAxios.downloadBufferToChrome({ buffer, filename });
      }
    }
  })
</script>


{% endblock %}
