{% extends 'template/jhTemplateV3.html'%}

{% block vue_template %}

<jh-layout-v3>

<!-- 页面主要内容 -->
<v-container class="fullScreen d-flex flex-column pa-0">

  <v-card :class="{'px-2': isMobile}">
    <v-row class="ma-0 align-center flex-none pt-0 " :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">

      <v-spacer></v-spacer>

      <v-col cols="12" xs="12" sm="3" md="2" xl="2" class="pl-0" :class="{'px-0': isMobile, 'pl-0': !isMobile}">
        <v-select class="cus-v-input" :clas="{'mr-2': !isMobile, 'pr-0': isMobile}" v-model="currentTable" :items="tableList"
                  prefix="数据表:" dense dense filled single-line></v-select>
      </v-col>
      <v-col cols="12" xs="6" sm="3" md="2" xl="2" class="pl-0" :class="{'pr-0': isMobile}">
        <v-select class="cus-v-input mr-2" v-model="currentHistoryDataType" :items="historyDataTypeList"
                  prefix="数据类型:" dense dense filled single-line></v-select>
      </v-col>

      <v-col cols="12" xs="6" sm="4" md="3" xl="3" class="pr-0">
        <v-text-field v-model="searchInput" color="success" prefix="表格过滤：" class="cus-v-input" dense filled single-line></v-text-field>
      </v-col>

    </v-row>
    <v-data-table fixed-header
                  :headers="headers"
                  :items="tableData"
                  :search="searchInput"
                  :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
                  :items-per-page="20"
                  :loading="isTableLoading"
                  checkbox-color="success"
                  mobile-breakpoint="0"
                  class="elevation-0 mt-0 flex-fill d-flex flex-column">
      <template v-slot:item.operationAt="{ item }">
        {{ item.operationAt && dayjs(item.operationAt).format('YYYY-MM-DD HH:mm:ss') }}
      </template>
      <template v-slot:item.option="{ item }">
        <v-btn small class="mr-2" color="success" :disabled="item.count === 0" @click="doAction('viewRecordHistory', {item})">
          <v-badge color="red" :content="item.count" :value="item.count">
            查看数据版本
          </v-badge>
        </v-btn>
      </template>
    </v-data-table>
  </v-card>


</v-container>
<v-overlay app :value="isEditDrawerShow"></v-overlay>
<v-navigation-drawer
    v-model="isEditDrawerShow"
    :permanent="isEditDrawerShow"
    fixed
    temporary
    right
    touchless
    width="80%"
    hide-overlay
    class="elevation-24"
>
  <v-container class="navDrawerContainer">
    <v-row class="pt-8">
      <span class="title pa-6" :class="{'pl-12': !isMobile, 'pl-6': isMobile}">数据版本</span>
      <v-spacer></v-spacer>
      <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small @click="isEditDrawerShow = false">
        <v-icon dark>mdi-close</v-icon>
      </v-btn>
    </v-row>
    <v-row :class="{'px-5': !isMobile, 'px-3': isMobile, 'pb-7': isMobile}">
      <v-data-table
          fixed-header
          checkbox-color="success"
          :headers="headers"
          :loading="isDrawerTableLoading"
          :items="drawerTableData"
          item-key="classId"
          :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
          :items-per-page="-1"
          mobile-breakpoint="0"
          class="elevation-0 pa-8 flex-fill d-flex flex-column show-select"
      >
        <template v-slot:item.operationAt="{ item }">
          {{ item.operationAt && dayjs(item.operationAt).format('YYYY-MM-DD HH:mm:ss') }}
        </template>
        <template v-slot:item.option="{ item }">
          <v-btn small class="mr-2" color="error" @click="doAction('restoreRecordByRecordHistory', {item})">还原数据</v-btn>
        </template>
      </v-data-table>
    </v-row>
  </v-container>
</v-navigation-drawer>


</jh-layout-v3>

{% endblock %}

{% block vue_body %}

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  mixins: [window.jianghuUiActionMixins],
  data: {
    tab: null,
    // 表格相关数据
    isFormValid: true,
    showLeftMenu: window.innerWidth > 600,
    requireRules: [ v => !!v || 'This is required' ],
    constantCollection: {
    },
    tableList: [
      {"value": "_file", "text": "_file"},
      {"value": "_user", "text": "_user"},
    ],
    currentTable: '_file',
    historyDataTypeList: [
      {"value": "onUse", "text": "使用中的数据"},
      {"value": "deleted", "text": "已删除的数据"},
    ],
    currentHistoryDataType: 'onUse',
    searchInput: null,
    isTableLoading: false,
    tableDataFromBackend: [],
    defaultHeaders: [
      {text: "数据ID", value: "id", width: 120, class: 'fixed', cellClass: 'fixed'},
      {text: "操作类型", value: "operation", width: 120 },
      {text: "操作人", value: "operationByUser", width: 120},
      {text: "操作时间", value: "operationAt", width: 180},
    ],
    headers: [],

    isDrawerTableLoading: true,
    isEditDrawerPermanent: false,
    isEditDrawerShow: false,
    drawerTableData: [],
  },
  computed: {
    isMobile() {
      return window.innerWidth < 600;
    },
    tableData() {
      return this.tableDataFromBackend;
    },
  },
  watch: {
    currentTable() {
      this.doAction('refreshTableData')
    },
    currentHistoryDataType() {
      this.doAction('refreshTableData')
    }
  },
  async created() {
    if (this.currentTable) {
      this.doAction('refreshTableData')
    }
  },
  mounted() {},
  methods: {
    async doAction(actionId, actionData) {
      switch (actionId) {
        case 'refreshTableData':
          await this.openTableLoading(actionData);
          await this.refreshTableData(actionData);
          await this.computeHeader(actionData);
          await this.closeTableLoading(actionData);
          break;
        case 'viewRecordHistory':
          await this.openDrawer(actionData);
          await this.doViewRecordHistory(actionData);
          break;
        case 'restoreRecordByRecordHistory':
          await this.doRestoreRecordByRecordHistory(actionData);
          await this.doViewRecordHistory(actionData);
          await this.refreshTableData(actionData);
          break;
        default:
          console.error("[doAction] actionId not find", { actionId });
          break;
      }
    },

    async openTableLoading() {
      this.isTableLoading = true;
    },

    /**
     * 获取表格数据
     */
    async refreshTableData() {
      if (this.currentHistoryDataType === 'onUse') {
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'recordHistoryManagement',
              actionId: 'selectOnUseItemListByTable',
              actionData: {
                table: this.currentTable
              },
            }
          }
        });
        this.tableDataFromBackend = result.data.appData.resultData.rows;
      }

      if (this.currentHistoryDataType === 'deleted') {
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'recordHistoryManagement',
              actionId: 'selectDeletedItemListByTable',
              actionData: {
                table: this.currentTable
              }
            }
          }
        });
        this.tableDataFromBackend = result.data.appData.resultData.rows;
      }
    },

    async closeTableLoading() {
      this.isTableLoading = false;
    },

    computeHeader() {
      if (this.tableDataFromBackend.length > 0) {
        const headers = this.defaultHeaders.slice();
        const recordData = this.tableDataFromBackend[0];
        for(const key in recordData){
          if (['id', 'count', 'recordHistoryId', 'operation', 'operationByUserId', 'operationByUser', 'operationAt'].indexOf(key) > -1) {
            continue;
          }
          headers.push({text: key, value: key, width: 120, cellClass: 'record-cell'});
        }
        headers.push({text: '操作', value: 'option', align: 'center', sortable: false, width: 150, class: 'fixed', cellClass: 'fixed'});
        this.headers = headers;
      }
    },

    async openDrawer() {
        this.isEditDrawerShow = true;
    },

    // viewRecordHistory
    async doViewRecordHistory({item}) {
      const { id } = item;
      this.drawerTableData = [];
      this.isDrawerTableLoading = true;
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'recordHistoryManagement',
            actionId: 'selectItemList',
            where: {
              recordId: id,
              table: this.currentTable
            },
            orderBy: [{column: 'id', order: 'desc'}]
          }
        }
      });
      const rows = result.data.appData.resultData.rows.map(row => {
        const { recordContent, id: recordHistoryId } = row;
        let record = { };
        try {
          record = JSON.parse(recordContent);
        } catch (err) {
          console.error('[JSON pare error]', err);
        }
        record.recordHistoryId = recordHistoryId;
        return record;
      })
      this.drawerTableData = rows;
      this.isDrawerTableLoading = false;
    },

    // restoreRecordByRecordHistory
    async doRestoreRecordByRecordHistory({item}) {
      const { recordHistoryId, id } = item;
      window.vtoast.loading(`${this.currentTable}【${id}】数据还原`);
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'recordHistoryManagement',
            actionId: 'restoreRecordByRecordHistory',
            actionData: {
              recordHistoryId
            }
          }
        }
      });
      window.vtoast.success(`${this.currentTable}【${id}】数据还原成功`);
    },
    dayjs: dayjs,
  }
})
</script>

<style>
.record-cell {
  background: #F6F6F6!important;
}
</style>

{% endblock %}
