{% extends 'template/jhTemplateV3.html'%}

{% block vue_template %}
<jh-layout-v3>
    <v-card :class="{'px-2': isMobile, 'pa-10': !isMobile}">
      <v-form v-model="isFormValid" ref="form" lazy-validation style="width: 400px;" class="mx-auto">
        <v-row class="pa-0 ma-0 pa-xs-4 pb-xs-4 flex-none">
          <v-col cols="12" class="pa-xs-0 pb-xs-4 pb-3">
            <span class="inputLabel">原密码</span>
            <v-text-field class="cus-v-input" dense filled single-line label="原密码" v-model="formData.oldPassword" :rules="requireRules"></v-text-field>
          </v-col>
          <v-col cols="12" class="pa-xs-0 pb-xs-4 pb-3">
            <span class="inputLabel">新密码</span>
            <v-text-field class="cus-v-input" dense filled single-line label="新密码" v-model="formData.newPassword1" :rules="requireRules"></v-text-field>
          </v-col>
          <v-col cols="12" class="pa-xs-0 pb-xs-4 pb-3">
            <span class="inputLabel">新密码确认</span>
            <v-text-field class="cus-v-input" dense filled single-line label="新密码确认" v-model="formData.newPassword2" :rules="requireRules"></v-text-field>
          </v-col>
          <v-col cols="12" class="pa-xs-0 pb-xs-4 pb-3">
            <v-btn color="success" @click="resetPassword()" style="width: 100%;">确定</v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-card>
</jh-layout-v3>

{% endblock %}

{% block vue_body %}
<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    mixins: [window.jianghuUiActionMixins],
    data: () => ({
      isFormValid: true,
      requireRules: [v => !!v || 'This is required'],
      formData: {
        oldPassword: null,
        newPassword1: null,
        newPassword2: null,
      }
    }),
    computed: {
      isMobile() {
        return window.innerWidth < 600;
      },
    },
    watch: {},
    async created() {},
    mounted() {
    },
    methods: {
      async resetPassword () {
        if (!this.$refs.form.validate()) return false;
        if (this.formData.newPassword1 !== this.formData.newPassword2) {
            window.vtoast.fail("两次输入的密码不一致");
            return;
        }
        await window.jianghuAxios({
            data: {
                appData: {
                    pageId: 'resetUserPassword',
                    actionId: 'resetPassword',
                    actionData: {
                        oldPassword: this.formData.oldPassword, 
                        newPassword: this.formData.newPassword1,
                    }
                }
            }
        })
        window.vtoast.success("密码修改成功");
        setTimeout(() => {
          location.reload();
        }, 500)
      }
    }
  })
</script>


{% endblock %}
