{% extends 'template/jhTemplateV3.html'%}

{% block vue_template %}

<jh-layout-v3>
<template v-slot:topRightWidget v-if="isMobile">
  <div class="d-flex mt-3" style="flex: 1">
    <v-spacer></v-spacer>
    <v-tabs v-model="pageTab" height="36" slider-size="0" class="mt-2" color="success" active-class="customActiveClass"
            style="width: auto; flex: none; border-radius: 5px; overflow: hidden;">
      <v-tab>接口权限管理</v-tab>
      <v-tab>页面权限管理</v-tab>
    </v-tabs>
  </div>
</template>
<template v-slot:serverSearch v-else>
  <div class="d-flex">
    <v-spacer></v-spacer>
    <v-tabs v-model="pageTab" height="36" slider-size="0" class="mt-2" color="success" active-class="customActiveClass"
            style="width: auto; flex: none; border-radius: 5px; overflow: hidden;">
      <v-tab>接口权限管理</v-tab>
      <v-tab>页面权限管理</v-tab>
    </v-tabs>
  </div>
</template>

<!-- 页面主要内容 -->
<v-card :class="{'px-2': isMobile}">
  <v-row class="ma-0 align-center flex-none pt-0 " :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">

    <v-col cols="12" xs="12" sm="4" md="4" xl="4" class="pl-0">
      <v-btn color="success" dark class="elevation-0 mr-2" @click="doUiAction('startCreateItem', null)">新增</v-btn>
      <span class="body-2">共{{ tableDataFromBackend.length }}条记录</span>
    </v-col>

    <v-spacer></v-spacer>

    <v-col cols="12" xs="8" sm="4" md="3" xl="3" class="px-0">
      <v-text-field v-model="searchInput" color="success" prefix="表格过滤：" class="cus-v-input" dense filled
                    single-line></v-text-field>
    </v-col>

  </v-row>
  <v-data-table :headers="tabPageHeaders"
                :items="tableDataFromBackend"
                :search="searchInput"
                :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
                :items-per-page="20"
                :loading="isTableLoading"
                checkbox-color="success"
                mobile-breakpoint="0"
                :class="{'mx-2': isMobile}"
                class="elevation-0 mt-0 flex-fill d-flex flex-column">
    <template v-slot:item.allowOrDeny="{ item }">
      {{ getConstantCollectionItemText('allowOrDeny', item.allowOrDeny) }}
    </template>
    <template v-slot:item.action="{ item }">
      <v-btn small class="mr-2 success" @click="doUiAction('startUpdateItem', {item})">
        修改
      </v-btn>
      <v-btn small class="mr-2 error" @click="doUiAction('deleteItem', {item})">
        删除
      </v-btn>
    </template>
  </v-data-table>
</v-card>

<v-overlay app :value="isEditDrawerShow"></v-overlay>
<!-- 编辑抽屉 -->
<v-navigation-drawer v-model="isEditDrawerShow" fixed temporary right width="80%" hide-overlay
                     class="elevation-24">
  <v-form v-model="isFormValid" ref="form" lazy-validation>
    <v-row class="pt-8">
      <span class="title pa-6" :class="{'pl-12': !isMobile, 'pl-6': isMobile}">{{ currentClickButton.title }}信息</span>
      <v-spacer></v-spacer>
      <v-btn class="mt-6 elevation-0" :class="{'mr-16': !isMobile, 'mr-8': isMobile}" fab x-small
             @click="isEditDrawerShow = false">
        <v-icon dark>mdi-close</v-icon>
      </v-btn>
    </v-row>
    <v-row :class="{'px-10': !isMobile, 'px-3': isMobile, 'pb-7': isMobile}">
      <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">用户ID/通配符(*)</span>
        <v-autocomplete class="cus-v-input mr-2" dense filled single-line clearable label="用户ID/通配符(*)"
          v-model="editItem.user" :items="constantCollection.user.filter(item => item.value)" @change="onConstantChange($event, 'user')" @update:search-input="onConstantChange($event, 'user')"></v-autocomplete>
      </v-col>
      <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">GroupID/通配符(*)</span>
        <v-autocomplete class="cus-v-input mr-2" dense filled single-line clearable label="GroupID/通配符(*)"
          v-model="editItem.group" :items="constantCollection.group.filter(item => item.value)" @update:search-input="onConstantChange($event, 'group')"></v-autocomplete>
      </v-col>
      <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">RoleID/通配符(*)</span>
        <v-autocomplete class="cus-v-input mr-2" dense filled single-line clearable label="RoleID/通配符(*)"
                  v-model="editItem.role" :items="constantCollection.role.filter(item => item.value)" @update:search-input="onConstantChange($event, 'role')"></v-autocomplete>
      </v-col>
      <v-col cols="12" sm="12" md="4" xl="3" class="pb-xs-4 pb-3" v-if="pageTab === 0">
        <span class="inputLabel">ResourceId/通配符(*)</span>
        <v-autocomplete class="cus-v-input mr-2" dense filled single-line clearable label="ResourceId/通配符(*)"
                  v-model="editItem.resource" :items="constantCollection.resource.filter(item => item.value)" @update:search-input="onConstantChange($event, 'resource')"></v-autocomplete>
      </v-col>
      <v-col cols="12" sm="12" md="4" xl="3" class="pb-xs-4 pb-3" v-if="pageTab === 1">
        <span class="inputLabel">PageId/通配符(*)</span>
        <v-autocomplete class="cus-v-input mr-2" dense filled single-line clearable label="PageId/通配符(*)"
                  v-model="editItem.page" :items="constantCollection.page.filter(item => item.value)" @update:search-input="onConstantChange($event, 'page')"></v-autocomplete>
      </v-col>
      <v-col cols="12" sm="12" md="4" :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">权限状态</span>
        <v-select class="cus-v-input mr-2" dense filled single-line clearable label="权限状态"
                  v-model="editItem.allowOrDeny" :items="constantCollection.allowOrDeny"></v-select>
      </v-col>
      <v-col cols="12" sm="12" md="12" xl="12" :class="{'pa-0': isMobile, 'px-3': isMobile, 'pt-6': isMobile}">
        <span class="inputLabel">desc</span>
        <v-textarea class="cus-v-input mr-2" dense filled single-line label="desc" v-model="editItem.desc"></v-textarea>
      </v-col>
    </v-row>

    <v-row class="justify-end mx-0 mt-8" :class="{'px-10': !isMobile, 'px-4': isMobile, 'mb-8': isMobile}">
      <v-btn color="success" @click="doUiAction(dialogSaveInfoAction)">保存</v-btn>
      <v-btn class="elevation-0 mr-2 ml-2" @click="isEditDrawerShow = false">取消</v-btn>
    </v-row>
  </v-form>
</v-navigation-drawer>

</jh-layout-v3>

{% endblock %}

{% block vue_body %}

<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: {
    isMobile: window.innerWidth < 600,
    // 表格相关数据
    isFormValid: true,
    pageTab: 0,
    showLeftMenu: window.innerWidth > 600,
    requireRules: [v => !!v || 'This is required'],
    constantCollection: {
      user: [{"value": "*", "text": "通配符*"}, {custom: true}],
      group: [{"value": "*", "text": "通配符*"}, {custom: true}],
      role: [{"value": "*", "text": "通配符*"}, {custom: true}],
      resource: [{"value": "*", "text": "通配符*"}, {custom: true}],
      page: [{"value": "*", "text": "通配符*"}, {custom: true}],
      allowOrDeny: [{"value": "allow", "text": "Allow"}, {"value": "deny", "text": "Deny"}],
    },
    isEditDrawerShow: false,
    searchInput: null,
    isTableLoading: true,
    tableDataFromBackend: [],
    pageTableDataFromBackend: [],
    headers: [
      {text: "用户ID/通配符(*)", value: "user", width: 120},
      {text: "GroupID/通配符(*)", value: "group", width: 120},
      {text: "RoleId/通配符(*)", value: "role", width: 120},
      {text: "ResourceId/通配符(*)", value: "resource", width: 120, class: 'fixed', cellClass: 'fixed'},
      {text: "权限状态", value: "allowOrDeny", width: 120},
      {text: "说明", value: "desc", width: 420},
      {text: "操作人", value: "operationByUser", width: 120},
      {text: "操作时间", value: "operationAt", width: 250},
      {text: '操作', value: 'action', align: 'center', sortable: false, width: 180, class: 'fixed', cellClass: 'fixed'},
    ],

    pageHeaders: [
      {text: "用户ID/通配符(*)", value: "user", width: 120},
      {text: "GroupID/通配符(*)", value: "group", width: 120},
      {text: "RoleId/通配符(*)", value: "role", width: 120},
      {text: "PageId/通配符(*)", value: "page", width: 120, class: 'fixed', cellClass: 'fixed'},
      {text: "权限状态", value: "allowOrDeny", width: 120},
      {text: "说明", value: "desc", width: 420},
      {text: "操作人", value: "operationByUser", width: 120},
      {text: "操作时间", value: "operationAt", width: 250},
      {text: '操作', value: 'action', align: 'center', sortable: false, width: 180, class: 'fixed', cellClass: 'fixed'},
    ],

    currentClickButton: {title: '新增', action: 'add'},
    editItem: {},
    tabPageHeaders: [],
    dialogSaveInfoAction: '',
    pageId: 'Resource'
  },
  watch: {
    pageTab() {
      this.tableDataFromBackend = [];
      if (this.pageTab === 0) {
        this.tabPageHeaders = this.headers;
        this.pageId = 'Resource';
      }
      if (this.pageTab === 1) {
        this.tabPageHeaders = this.pageHeaders;
        this.pageId = 'Page';
      }
      this.doUiAction('refreshTableData');
    },
    'editItem.user'(value) {
      this.onConstantChange(value, 'user');
    },
    'editItem.group'(value) {
      this.onConstantChange(value, 'group');
    },
    'editItem.role'(value) {
      this.onConstantChange(value, 'role');
    },
    'editItem.resource'(value) {
      this.onConstantChange(value, 'resource');
    },
    'editItem.page'(value) {
      this.onConstantChange(value, 'page');
    }
  },
  async created() {
    this.tabPageHeaders = this.headers;
  },
  mounted() {
    this.doUiAction('refreshTableData');
  },
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'refreshTableData':
          await this.refreshTableData(uiActionData);
          break;
        case 'startCreateItem':
          await this.clearItemData(uiActionData);
          await this.openCreateItemDialog(uiActionData);
          break;
        case 'createItem':
          await this.confirmCreateItemDialog(uiActionData);
          await this.doCreateItem(uiActionData);
          await this.refreshTableData(uiActionData);
          await this.closeDrawerShow(uiActionData);
          break;
        case 'startUpdateItem':
          await this.prepareItemData(uiActionData);
          await this.openUpdateItemDialog(uiActionData);
          break;
        case 'updateItem':
          await this.confirmUpdateItemDialog(uiActionData);
          await this.doUpdateItem(uiActionData);
          await this.refreshTableData(uiActionData);
          await this.closeDrawerShow(uiActionData);
          break;
        case 'deleteItem':
          await this.confirmDeleteItemDialog(uiActionData);
          await this.prepareItemData(uiActionData);
          await this.doDeleteItem(uiActionData);
          await this.refreshTableData(uiActionData);
          break;
        default:
          console.error("[doUiAction] uiActionId not find", { uiActionId });
          break;
      }
    },

    /**
     * 获取表格数据
     */
    async refreshTableData() {
      this.isTableLoading = true;
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'userGroupRolePageOrResourceManagement',
            actionId: `selectItemListOf${this.pageId}`
          }
        }
      });

      this.tableDataFromBackend = result.data.appData.resultData.rows;
      this.isTableLoading = false;
    },


    // startCreateItem
    async clearItemData() {
      this.editItem = {};
    },

    async openCreateItemDialog() {
      this.currentClickButton = {action: 'add', title: '新增'};
      this.isEditDrawerShow = true;
      this.dialogSaveInfoAction = 'createItem';
    },

    // createItem
    async confirmCreateItemDialog() {
      if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
          throw new Error("[confirmCreateFormDialog] 否");
      }
    },

    /**
     * 新增数据
     */
    async doCreateItem() {
      await window.vtoast.loading("保存中");
      delete this.editItem.id;
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'userGroupRolePageOrResourceManagement',
            actionId: `insertItemOf${this.pageId}`,
            actionData: this.editItem
          }
        }
      })
      await window.vtoast.success("保存成功");
    },

    async closeDrawerShow() {
      this.isEditDrawerShow = false;
    },

    // startUpdateItem
    async prepareItemData({item}) {
      this.editItem = {...item};
      this.editItem.user = this.getConstantCollectionItemValue('user', item.user)
      this.editItem.group = this.getConstantCollectionItemValue('group', item.group);
      this.editItem.role = this.getConstantCollectionItemValue('role', item.role);
      this.editItem.resource = this.getConstantCollectionItemValue('resource', item.resource);
      this.editItem.page = this.getConstantCollectionItemValue('page', item.page);
    },

    async openUpdateItemDialog() {
      this.currentClickButton = {action: 'edit', title: '修改'};
      this.isEditDrawerShow = true;
      this.dialogSaveInfoAction = 'updateItem';
    },

    // updateItem
    async confirmUpdateItemDialog() {
      if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
          throw new Error("[confirmUpdateItemDialog] 否");
      }
    },

    /**
     * 保存学生
     */
    async doUpdateItem() {
      await window.vtoast.loading("保存中");
      const id = this.editItem.id;
      delete this.editItem.id;
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'userGroupRolePageOrResourceManagement',
            actionId: `updateItemOf${this.pageId}`,
            actionData: this.editItem,
            where: {id: id}
          }
        }
      })
      await window.vtoast.success("修改成功");
    },

    // deleteItem
    async confirmDeleteItemDialog() {
      if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
          throw new Error("[confirmDeleteItemDialog] 否");
      }
    },

    /**
     * 删除
     */
    async doDeleteItem() {
      await window.vtoast.loading("删除中");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'userGroupRolePageOrResourceManagement',
            actionId: `deleteItemOf${this.pageId}`,
            where: {id: this.editItem.id}
          }
        }
      });
      await window.vtoast.success("删除成功");
    },

    getConstantCollectionItemText(key, _value) {
      const constantCollectionItemFind = this.constantCollection[key].find(({value}) => value === _value);
      if (constantCollectionItemFind) {
        return constantCollectionItemFind.text;
      }
      return _value;
    },
    getConstantCollectionItemValue(key, _text) {
      const constantCollectionItemFind = this.constantCollection[key].find(({text}) => text === _text);
      if (constantCollectionItemFind) {
        return constantCollectionItemFind.value;
      }
      return _text;
    },
    onConstantChange(e, key) {
      let customItem = this.constantCollection[key].find(item => item.custom)
      this.$set(customItem, 'value', e);
      this.$set(customItem, 'text', e);
      this.editItem[key] = e
    }
  }
})
</script>
<style>
.customActiveClass {
  background: #4caf50 !important;
  color: #ffffff !important;
}
</style>

{% endblock %}
